@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
.site {
	padding: 30px;
}

body.single .fiche-conseils h3 {
	font-family: "Roboto Slab", serif;
	font-size: 30px;
	font-weight: 700;
}

body.single .fiche-conseils .entry-content {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: minmax(150px, 300px) auto;
	grid-auto-rows: auto;
	grid-template-areas: "image description" "content content" "infos infos";
}

@media screen and (max-width: 600px) {
	body.single .fiche-conseils .entry-content {
		grid-template-areas: "image image" "description description" "content content" "infos infos";
	}
}

body.single .fiche-conseils .entry-image {
	grid-area: image;
}

body.single .fiche-conseils .entry-description {
	grid-area: description;
}

body.single .fiche-conseils .entry-infos {
	grid-area: infos;
}

body.single .fiche-conseils .entry-description {
	padding-left: 10px;
	border-left: 3px solid #000;
}

/*# sourceMappingURL=style.css.map */