// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
    width: map-get($columns, $numberColumns) -
        (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

@mixin breakpoint($point) {
    @if ($point == "tablet") {
        @media screen and (max-width: 1260px) {
            @content;
        }
    } @else if($point == "mobile") {
        @media screen and (max-width: 650px) {
            @content;
        }
    } @else {
        @media screen and (max-width: $point) {
            @content;
        }
    }
}