@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

.fiche-conseils {

    // display: grid;
    // grid-gap: 1em;
    // border-radius: 5px;
    // box-shadow: -5px 5px 8px 4px rgba(0, 0, 0, 0.1);
    // padding: 20px;

    // .blog & {
    //     grid-template:
    //         "header" minmax(3.125em, 6.25em)
    //         "content"
    //         "footer";

    //     @include breakpoint(1000px) {
    //         grid-template:
    //             "header"
    //             "content"
    //             "footer";
    //     }
    // }

    body.single & {

        h3 {
            font-family: "Roboto Slab", serif;
            font-size: 30px;
            font-weight: 700;
        }

        .entry {
            &-content {
                display: grid;
                grid-gap: 30px;
                grid-template-columns: minmax(150px, 300px) auto;
                grid-auto-rows: auto;
                grid-template-areas:
                    "image description"
                    "content content"
                    "infos infos";

                @media screen and (max-width: 600px) {
                    grid-template-areas:
                        "image image"
                        "description description"
                        "content content"
                        "infos infos";
                }
            }

            &-image {
                grid-area: image;
            }

            &-description {
                grid-area: description;
            }

            &-infos {
                grid-area: infos;

                .content {
                    &-pourquoi {
                    }

                    &-comment {
                    }

                    &-mise-en-garde {
                    }
                }
            }
        }

        .entry-description {
            padding-left: 10px;
            border-left: 3px solid #000;
        }
    }

    // .search & {

    // }

    // .entry-header {
    //     grid-area: header;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;

    //     .entry-title {
    //         .blog &,
    //         .search & {
    //             display: -webkit-box;
    //             -webkit-box-orient: vertical;
    //             -webkit-line-clamp: 2;
    //             overflow: hidden;
    //         }
    //     }

    //     .entry-meta {
    //         font-size: 0.8em;

    //         .blog &,
    //         .search & {
    //             @include breakpoint(1000px) {
    //                 display: none;
    //             }
    //         }
    //     }
    // }

    // .entry-content {
    //     grid-area: content;
    //     margin: 0;

    //     .blog & {
    //         display: flex;
    //         flex-direction: column;
    //         gap: 15px;

    //         @include breakpoint(1000px) {
    //             display: grid;
    //             grid-template-columns: 200px 1fr;
    //             grid-gap: 10px;
    //         }
    //     }

    //     .search & {
    //         display: grid;
    //         grid-template-columns: 200px 1fr;
    //         grid-gap: 10px;

    //     }

    //     .single & {
    //         display: grid;
    //         grid-template-columns: 350px 1fr;
    //         grid-template-areas:
    //             "image description"
    //             "infos infos";
    //         grid-gap: 1em;

    //         .entry-image {
    //             grid-area: image;
    //             width: 100%;
    //         }

    //         .entry-description {
    //             grid-area: description;
    //         }

    //         .entry-infos {
    //             grid-area: infos;
    //         }
    //     }

    //     .entry-image {
    //         aspect-ratio: 4 / 3;
    //         margin: 0;
    //         height: 250px;

    //         img {
    //             display: block;
    //             margin: 0 auto;
    //             object-fit: cover;
    //             height: 100%;
    //         }
    //     }

    //     .entry-description {
    //         padding-left: 10px;
    //         border-left: 3px solid $color__text-main;

    //         .blog & {
    //             display: -webkit-box;
    //             -webkit-box-orient: vertical;
    //             -webkit-line-clamp: 5;
    //             overflow: hidden;
    //         }

    //         @include breakpoint(1000px) {
    //             border: none;
    //         }
    //     }
    // }

    // .entry-footer {
    //     grid-area: footer;
    //     align-self: end;
    // }
}
