// .container {
//     max-width: 1220px;
//     margin: 0 auto;

//     @include breakpoint(tablet) {
//         padding: 30px;
//         // width: calc(100% - $margin-tablet);
//     }

//     .blog & {
//         display: grid;
//         grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//         grid-gap: 1.1em;

//         @include breakpoint(1000px) {
//             grid-template-columns: 1fr;
//         }
//     }

//     .search & {
//         grid-template-columns: 1fr;
//     }
// }

.site {
    padding: 30px;
}